.score {
    height: 50%;
    text-align: center;
    border:10px solid rgb(255, 0, 17);
    padding-top: calc(10% / 2);
    font-size: 60px;
    margin: 10%;
}
.level {
    height: 50%;
    text-align: center;
    border:10px solid rgb(255, 0, 17);
    background-color: rgb(255, 0, 17);;
    padding-top: calc(10% / 2);
    font-size: 60px;
    color:aliceblue
}